body {
  background-color: navy;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1, h2 {
  color: white;
}

section.board {
  display: grid;
  grid-template-rows: repeat(5, 10vmin);
  grid-template-columns: repeat(5, 10vmin);
  grid-gap: 0vmin;
  justify-content: center;
}

div {
  background: rgb(196, 19, 102);
  border: 3px solid black;
  font-size: 8vmin;
  text-align: center;
  vertical-align: middle;
}

#reset {
  text-align: center;
  color: white;
  font-size: 16px;
  background-color: rgb(196, 19, 102);
  width: 204px;
  height: 40px;
}